# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# build output
.next/
out/
build/
dist/
android-twa/
android-output/
*.apk
*.aab
db-backups/
db_backups/

# testing and coverage
coverage/
.nyc_output/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env files
.env
.env.*
!.env.example

# caches
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.npm/

# vercel
.vercel/

# misc
.DS_Store
*.pem
*.pid
*.pid.lock
*.seed
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# typescript
*.tsbuildinfo
next-env.d.ts
